.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 10px 5px 5px lightgray;

  h1 {
    font-family: sans-serif;
    font-weight: 500;
  }

  .title {
    width: 300px;
  }
  .price {
    width: 200px;
  }
}
